*, ::before ::after {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

header{
    background-color: purple;
    display: flex;
    justify-content:center
   
    
}
span {
    font-size: larger;
    
}
a {
    text-decoration: none;
    color: gold;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    
}

nav {
    padding:2%
}

body {
    height: 100vh;
}

.galerie{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    max-width: 1300px;
    margin: 70px auto 0;
    


}

img{
width: 300px;
height: 200px;
margin: 10px;
}
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-style: italic;
    
}